@import '../../sass_reuseable/variable.scss';

.About-container {
    height: 100vh;
    background-color: orange;
    font-family: $primary-font;

    .about {
        padding-top: 100px;
        background-color: red;
        display: flex;
        align-items: center;

        .line {
            background-color: $dark-color;
            height: 5px;
            width: 30px;
        }
    }
}