@import 'sass_reuseable/variable.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    // display: none;
    height: 100vh;
    background-color: aquamarine;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}